
/* -----------------------------header start----------------------------*/
header{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow:0 5px 20px 0 rgb(160, 160, 160);
}
.main-nav{
    margin-left:200px;
    display:flex;
    width:90%;
    padding:10px;
    column-gap:10px
    
}
.main-nav a{
    font-size: 30px;
    color: purple;
    text-decoration: none;
    transition-duration: 0.3s;
    padding: 5px 20px;
    border-radius: 10px;
}
.main-nav a:hover{
    color: white;
    background-color: rgb(202, 153, 202);
    transition-duration:0.3s;
}
nav #request{
    color:rgb(255, 255, 255);
    background-color: purple;
}

/* -----------------------------header end----------------------------*/


/* ----------------------------form end----------------------------*/
form{
    background-color: rgb(234, 234, 234);
    margin: 50px 5%;
    width:90%;
    height: 60%;
    padding:20px;
    border-radius:10px;
}
input{
    margin:10px 70px;
    padding: 5px;
}

form label{
    margin: 10px 10px;
    font-size:20px;
    color:purple;
}
button{
    font-size:25px;
    margin: 30px auto 0 auto;
    border-radius: 10px;
    color:white;
    font-weight: bolder;
    background-color: rgb(193, 113, 193);
    padding:5px 20px;
    width:80%
}
button:hover{
    background-color: purple;
    cursor:pointer;
}





/*----------------------------request_no html started-------------------------*/

form #description{
    margin:10px auto;
    padding: 5px;
    width:90%;
    height:60%;
}
#request_n{
    display: grid;
    
    grid-template-columns: 1fr 1fr;
}
#request_check{
    width:90%;
    margin:50px auto;
    
}
#request_check-list1{
    height:70%;
    overflow-y:auto;
    border-radius: 10px;

    
}
#request_check-list{
    display: grid;
    background-color: rgb(234, 215, 234);
    margin-top:10px;

}
#request_check-head{
    color:purple;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:10px;
    height:40px;
    margin:60px 0 20px 0;
}

.gri-item h3{
    font-size:18px;
    margin:5px 5px;
    color:purple;
}
.gri-item p{
    margin:0 10px 5px 10px;
    font-size:12;
    
}


/* -----------------------------request_no-list end----------------------------*/
/* Reset some default margin and padding for the footer */
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Style the text inside the footer */
.footer-content {
    font-size: 14px;
}
